crystal_torture/devel
*/*/*.swp
*/*/__pycache__
*.swp
*pyc
crystal_torture/.f2py_f2cmap
check_run.py
check_doping.py
*/*so
crystal_torture/todo
htmlcov
things_to_note
crystal_torture/ENV
tests/STRUCTURE_FILES/UNUSED
*coverage
crystal_torture.egg-info*
build*
dist*
